[submodule "submodules/crypto-specs"]
	path = submodules/crypto-specs
	url = https://github.com/formosa-crypto/crypto-specs.git
	branch = main
[submodule "submodules/XKCP"]
	path = submodules/XKCP
	url = https://github.com/XKCP/XKCP
[submodule "submodules/jasmin"]
	path = submodules/jasmin
	url = https://gitlab.com/jasmin-lang/jasmin-compiler.git
	branch = main
