[submodule "submodules/crypto-specs"]
	path = submodules/crypto-specs
	url = ../crypto-specs.git
	branch = main
[submodule "submodules/XKCP"]
	path = submodules/XKCP
	url = https://github.com/XKCP/XKCP
