[default]
bin  = easycrypt
args = -timeout 30

[test-keccak]
okdirs  = !correctness !safety  

[test-keccak_correctness_avx2]
okdirs  = !correctness/avx2
exclude =    !correctness/ref !extracted !safety

[test-keccak_correctness_ref]
okdirs  = !correctness/ref
exclude = !correctness/avx2 !extracted !safety

[test-keccak_safety_avx2]
okdirs  = !safety/avx2
exclude = !safety/ref !extracted !correctness

[test-keccak_safety_ref]
okdirs  = !safety/ref
exclude = !safety/avx2 !extracted !correctness
