[test-keccak]
okdirs = !proof

[test-keccak_correctness_amd64_ref]
okdirs = !proof/amd64/ref

[test-keccak_correctness_amd64_avx2]
okdirs = !proof/amd64/avx2 

[test-keccak_safety_amd64_ref]
okdirs = !proof/amd64/safety/ref

[test-keccak_safety_amd64_avx2]
okdirs = !proof/amd64/safety/avx2

[test-keccak_common]
okdirs  = !proof
exclude = !proof/amd64
