[test-keccak_correctness_avx2]
okdirs  = ./../../proof/amd64/avx2 
exclude = !./../../proof/amd64/safety/avx2  !./../../proof/amd64/ref  !./../../proof/amd64/bak  !./../../proof/amd64/barrays !./../../proof/amd64/common !./../../proof/amd64/extracted !./../../proof/amd64/safety/ref   

[test-keccak_correctness_ref]
okdirs  = ./../../proof/amd64/ref
exclude = !./../../proof/amd64/safety/avx2  !./../../proof/amd64/avx2  !./../../proof/amd64/bak  !./../../proof/amd64/barrays !./../../proof/amd64/common !./../../proof/amd64/extracted !./../../proof/amd64/safety/ref   


[test-keccak_safety_avx2]
okdirs  = ./../../proof/amd64/safety/avx2 
exclude = !./../../proof/amd64/avx2  !./../../proof/amd64/ref  !./../../proof/amd64/bak  !./../../proof/amd64/barrays !./../../proof/amd64/common !./../../proof/amd64/extracted !./../../proof/amd64/safety/ref   

[test-keccak_safety_ref]
okdirs  = ./../../proof/amd64/safety/ref
exclude = !./../../proof/amd64/avx2  !./../../proof/amd64/ref  !./../../proof/amd64/bak  !./../../proof/amd64/barrays !./../../proof/amd64/common !./../../proof/amd64/extracted !./../../proof/amd64/safety/avx2   
