name: EasyCrypt
permissions:
  contents: read
on:
  workflow_call:
  workflow_dispatch:

env:
  NIXPKGS_ALLOW_UNFREE: 1
  ECRJOBS: 8


jobs:
    # test_extraction:
    #     name: Extract Keccak to EC
    #     runs-on: ubuntu-latest
    #     strategy:
    #       fail-fast: false
    #       matrix:
    #         dir: [ 'ref', 'avx2' ]
    #     steps:
    #     - uses: actions/checkout@v4
    #     - uses: cachix/install-nix-action@v31
    #       with:
    #         nix_path: nixpkgs=channel:nixos-unstable
    #     - run: nix-shell --arg full false --run "echo Dependencies OK…"
    #     - run: nix-shell --arg full false --run "make -C src/amd64/${{matrix.dir}}"
    test_proofs:
        name: Check Proofs
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            type: ['safety'] 
            dir: [ 'ref', 'avx2' ]
        steps:
        - uses: actions/checkout@v4
        - uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
        - run: nix-shell --run "echo Dependencies OK…"
        - run: nix-shell --run 'easycrypt why3config'
        - run: nix-shell --run "make -C proof/amd64/"
        - run: nix-shell --run "make -C proof/amd64/ checkec_${{matrix.type}}_${{matrix.dir}}"
