name: EasyCrypt
permissions:
  contents: read
on:
  workflow_call:
  workflow_dispatch:

env:
  NIXPKGS_ALLOW_UNFREE: 1
  ECRJOBS: 8


jobs:
    test_extraction:
        name: Extract Keccak to EC
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            arch: [ 'amd64' ]
            subarch: [ 'ref', 'avx2' ]
        env:
          JASMINPATH: Keccak=${{github.workspace}}/src/${{matrix.arch}}
        steps:
        - uses: actions/checkout@v4
          with:
            submodules: false
        - uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
        - run: nix-shell --arg full false --run "echo Dependencies OK…"
        - run: nix-shell --arg full false --run "make -C src/${{matrix.arch}}/${{matrix.subarch}}"
    test_proofs:
        name: Check Proofs
        runs-on: ubuntu-latest
        strategy:
          fail-fast: false
          matrix:
            scenario:
            - keccak_amd64_common
            - keccak_correctness_amd64_ref
            - keccak_correctness_amd64_avx2
            - keccak_safety_amd64_ref
            - keccak_safety_amd64_avx2
        steps:
        - uses: actions/checkout@v4
          with:
            submodules: false
        - uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
        - run: nix-shell --run "echo Dependencies OK…"
        - run: nix-shell --run 'easycrypt why3config'
        - run: nix-shell --run "make CHECKS=${{matrix.scenario}} checkec"
